*{
    background-color: rgb(27, 28, 31);
    color: white;
    margin: 0;
    padding: 0;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   padding: 50px;

}
.home h1{
    margin: 20px;
    padding: 20px;
}
.home-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}